:root {
  --gray-light-3: #DDDDDD;
  --gray-light-2: #F8F8F8;
  --gray-light: #E6E6E6;
  --gray: #ABABAC;
  --gray-dark: #4D4F5C;
  --gray-dark-2: #484848;
  --gray-dark-3: #212121;

  --light: #F7F7F7;

  --green: #A7D69B;

  --purple: #9C79B9;
  --purple-dark: #6D2795;
  --purple-dark-2: #43425D;

  --red: #CE2E2E;

  --white: #FFFFFF;
}

/* Fontes */
body {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 16px;
}

p {
  font-size: 13px;
}
