.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  background: rgba(156, 121, 185, .39);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.scrollbar::-webkit-scrollbar-thumb {
  background: rgb(156, 121, 185);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
