:root {
  --gray-light-3: #DDDDDD;
  --gray-light-2: #F8F8F8;
  --gray-light: #E6E6E6;
  --gray: #ABABAC;
  --gray-dark: #4D4F5C;
  --gray-dark-2: #484848;
  --gray-dark-3: #212121;

  --light: #F7F7F7;

  --green: #A7D69B;

  --purple: #9C79B9;
  --purple-dark: #6D2795;
  --purple-dark-2: #43425D;

  --red: #CE2E2E;

  --white: #FFFFFF;
}

/* Fontes */
body {
  font-family: 'source_sans_proregular', sans-serif;
  font-size: 16px;
}

p {
  font-size: 13px;
}

.font--status {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 2.125rem;
}

.font--headline {
  font-size: 2.1875rem;
  font-weight: bold;
  line-height: 1.3125rem;
}

.font--header {
  font-size: 1.5625rem;
  font-weight: bold;
  line-height: 2rem;
}

.font--title {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.font--large-body {
  font-size: 1.125rem;
  line-height: 0.8125rem;
}

.font--button {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}

.font--secondary-body {
  font-size: 0.9375rem;
  line-height: 1.1875rem;
}

.font--secondary-body-bold {
  font-size: 0.9375rem;
  font-weight: bold;
  line-height: 1.5625rem;
}

.font--body {
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.font--body-bold {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.font--placeholder {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}

.font--paragraph-body {
  font-size: 0.9375rem;
  line-height: 1.5rem;
}

.font--paragraph-small-body {
  font-size: 0.8125rem;
  line-height: 1.0625rem;
}

.font--paragraph-large-body {
  font-size: 1.125rem;
  line-height: 1.875rem;
}

/* Fim fontes */

/* Icones */
.icon--large {
  font-size: 48px;
}

/* Fim icones */

/* Layout */
.container-fluid {
  background: #F8F8F8;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1366px;
  position: relative;
  width: 100%;
}

.header {
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.16);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.sidebar {
  background: var(--white);
  box-shadow: 5px -2px 6px 0 rgba(0, 0, 0, 0.16);
  height: 100vh;
  margin-top: 90px;
  position: fixed;
  width: 12%;
  z-index: 100;
}

.content {
  box-sizing: border-box;
  margin-left: 12%;
  margin-top: 90px;
  padding: 0 32px 32px;
  width: 88%;
  z-index: 90;
}

.page-content {
  display: flex;
}

.page-content__left-part,
.page-content__right-part {
  flex: 1 50%;
  padding: 0 40px 0 20px;
}

.page-content__left-part {
  background: rgba(230, 230, 230, .16);
}

.page-content__title {
  color: var(--purple);
  font-weight: normal;
}

.page-content__title--not-margin {
  margin-top: 0;
}

.page-content__actions {
  display: flex;
  justify-content: flex-end;
  margin: 50px -20px 32px 0;
}

.page-content__actions > .btn:not(:last-of-type) {
  margin-right: 6px;
}

/* Fim layout */

/* Tabela */
.table-striped {
  border-collapse: unset;
  border-spacing: 0;
  font-size: 0.8125em;
  width: 100%;
}

.table-striped thead th {
  border-top: 0.0625em solid #E6E6E6;
  padding: 0.75em;
  text-align: left;
}

.table-striped thead th:first-of-type {
  border-left: 0.0625em solid #E6E6E6;
}

.table-striped thead th:last-of-type {
  border-right: 0.0625em solid #E6E6E6;
}

.table-striped tbody tr:last-of-type td {
  border-bottom: 0.0625em solid #E6E6E6;
}

.table-striped tbody tr:nth-child(even) {
  background: #FFFFFF;
}

.table-striped tbody tr:nth-child(odd) {
  background: #F8F8F8;
}

.table-striped tbody tr td {
  border-top: 0.0625em solid #E6E6E6;
  padding: 0.75em;
}

.table-striped tbody tr td:first-of-type {
  border-left: 0.0625em solid #E6E6E6;
}

.table-striped tbody tr td:last-of-type {
  border-right: 0.0625em solid #E6E6E6;
}

/* Fim tabela */

/* Botões */
a.btn {
  align-items: center;
  background: #6D2795;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

button.btn {
  align-items: center;
  background: #6D2795;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  height: 50px;
  justify-content: center;
  outline: none;
  padding: 4px 20px;
  text-transform: uppercase;
}

a.btn--floating,
button.btn--floating {
  align-items: center;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1.6em;
  height: 42px;
  justify-content: center;
  line-height: 42;
  width: 42px;
}

a.btn--small,
button.btn--small {
  font-size: 0.875em;
  height: 24px;
  line-height: 24;
  width: 24px;
}

a.btn--rounded-edges,
button.btn--rounded-edges {
  border-radius: 21px;
  padding: 11px 32px;
}

a.btn--info,
button.btn--info {
  background: #6A72D9;
}

a.btn--danger,
button.btn--danger {
  background: #CE2E2E;
}

a.btn i.icon-left,
button.btn i.icon-left {
  padding-right: 10px;
}

a.btn i.icon-right,
button.btn i.icon-right {
  padding-left: 10px;
}

a.btn.btn--come-back,
button.btn.btn--come-back {
  background: var(--gray-light-3);
}

a.btn.btn--next,
button.btn.btn--next {
  background: var(--green);
}

a.btn.btn--outline,
button.btn.btn--outline {
  background: var(--white);
  color: var(--purple);
  border: 1px solid var(--purple);
}

/* Fim botões */

/* Inputs */
.input-group {
  align-items: center;
  display: flex;
  margin: 16px 0 32px;
  position: relative;
  width: 100%;
}

.input-group__field {
  border: 1px solid var(--gray-light);
  border-radius: 4px;
  box-sizing: border-box;
  height: 42px;
  outline: none;
  padding: 8px 8px 8px 16px;
  width: 100%;
}

.input-group__field:active, .input-group__field:focus, .input-group__field--active {
  border-color: #6D2795;
}

.input-group__field:active + .input-group__label, .input-group__field:focus + .input-group__label, .input-group__field--active + .input-group__label, .input-group__field--active + .input-group__label {
  background: #FFFFFF;
  font-size: 0.6875rem;
  top: -7px;
  transition: all 300ms;
}

.input-group__label {
  background: #FFFFFF;
  color: var(--gray);
  font-size: 0.9375rem;
  left: 12px;
  padding: 1px 8px;
  position: absolute;
  top: 12px;
  transition: background-color .3s, font-size .3s, top .3s;
}

.input-group__icon {
  color: #B6B4B6;
  position: absolute;
  right: 20px;
  top: 19px;
}

.form-group {
  display: flex;
}

.form-group .input-group:not(:last-of-type) {
  margin-right: 16px;
}

.input-group--not-margin-top,
.form-group .input-group {
  margin-top: 0;
}

.input-group--size-3 {
  flex: 3;
}

.input-group--size-1 {
  flex: 1;
}

/* Fim inputs */

/* Modal */
.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  display: flex;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -99999;
}

.modal--active {
  opacity: 1;
  z-index: 99999;
}

.modal__content {
  background: #FFFFFF;
  border-radius: 1.0625em;
  margin: auto;
  max-width: 90%;
  position: relative;
}

.modal__header, .modal__body, .modal__footer {
  padding: 1em;
}

.modal__header {
  align-items: center;
  border-top-left-radius: 1.0625em;
  border-top-right-radius: 1.0625em;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.modal__close {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: #212121;
  cursor: pointer;
  font-size: 0.875em;
  height: 24px;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5em;
  position: absolute;
  right: 0.5em;
  text-transform: uppercase;
  top: 0;
  width: 24px;
}

.modal__footer {
  align-items: center;
  border-bottom-left-radius: 1.0625em;
  border-bottom-right-radius: 1.0625em;
  display: flex;
  justify-content: flex-end;
}

/* Fim modal */

/* Modal lateral */
.modal-right {
  background: rgba(0, 0, 0, 0.8);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: -99999;
}

.modal-right--active {
  opacity: 1;
  z-index: 99999;
}

.modal-right__content {
  background: #FFFFFF;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 450px;
}

.modal-right__header, .modal-right__body, .modal-right__footer {
  box-sizing: border-box;
  padding: 1em;
}

.modal-right__header {
  align-items: center;
  display: flex;
  height: 19vh;
  justify-content: space-between;
  position: relative;
}

.modal-right__close {
  background: transparent;
  border: none;
  border-radius: 50%;
  color: #212121;
  cursor: pointer;
  font-size: 0.875em;
  height: 24px;
  line-height: 1.5rem;
  outline: none;
  padding: 0.5em;
  position: absolute;
  right: 0.5em;
  text-transform: uppercase;
  top: 0;
  width: 24px;
}

.modal-right__body {
  height: 66vh;
  overflow-y: scroll;
}

.modal-right__footer {
  align-items: center;
  bottom: 0;
  display: flex;
  height: 15vh;
  justify-content: flex-end;
  left: 0;
  position: absolute;
  width: 100%;
}

/* Fim modal lateral */
