.forget-password {
  align-items: center;
  display: flex;
}

.forget-password-background,
.forget-password-form {
  flex: 1 50%;
  height: 100vh;
}

.forget-password-background {
  background: #FFFFFF url("../../assets/images/background.png") no-repeat;
  background-size: cover;
}

.forget-password-form {
  align-items: center;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forget-password-form__img,
.forget-password-form__form {
  width: 50%;
}

.forget-password-form__img {
  height: auto;
}

.forget-password-form__form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
}

.forget-password-form__description {
  color: #4D4F5C;
  margin: 0;
  text-align: center;
  width: 110%;
}

.forget-password-form__btns {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
}

.btn--forget-password,
.forget-password-form__forgot-password {
  width: 100%;
}

.btn--forget-password {
  font-size: 15px;
  font-weight: bold;
}

.forget-password-form__forgot-password {
  align-items: center;
  color: #43425D;
  display: flex;
  font-size: 13px;
  justify-content: center;
  line-height: 20px;
  margin-top: 15%;
  text-decoration: none;
}

/* Ajustes Input Login */
.input-group {
  margin: 16px 0;
}

.input-group__field {
  border-color: #43425D;
  height: 56px;
}

.input-group__label {
  color: #6D2795;
  top: 17px;
}

.input-group__field:active,
.input-group__field:focus,
.input-group__field--active {
  border-color: #6D2795;
}

.input-group__field:active + .input-group__label,
.input-group__field:focus + .input-group__label,
.input-group__field--active + .input-group__label {
  background: #FFFFFF;
  font-size: 0.6875rem;
  top: -7px;
  transition: all 300ms;
}

/* Fim Ajustes input login */
