.home {
  background: var(--white);
}

.company-data {
  display: flex;
}

.company-data__general,
.company-data__address {
  background: var(--white);
  flex: 1 50%;
  padding: 0 20px;
}

.company-data__general {
  background: rgba(230, 230, 230, .16);
}

.company-data__title {
  color: var(--purple);
  font-weight: normal;
}

.company-data__title--not-margin {
  margin-top: 0;
}

/* Ajustes para os inputs na home */
.input-group {
  margin-bottom: 32px;
}

.input-group__field {
  border-color: var(--gray-light);
  height: 42px;
}

.input-group__label {
  color: var(--gray);
  top: 12px;
}

.form-group {
  display: flex;
}

.form-group .input-group:not(:last-of-type) {
  margin-right: 16px;
}

.form-group .input-group {
  margin-top: 0;
}

.input-group--size-3 {
  flex: 3;
}

.input-group--size-1 {
  flex: 1;
}

/* Fim Ajustes para os inputs na home */

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 50px;
}

.actions > .btn:not(:last-of-type) {
  margin-right: 6px;
}
